<div class="card-content">
                    <div class="card-img">
                    <img src="https://www.lavanguardia.com/r/GODO/LV/p3/WebSite/2016/05/20/Recortada/img_mbigas_20160520-135524_imagenes_lv_getty_taj-k6e-U401920311809rVB-992x558@LaVanguardia-Web.jpg" alt="img top">
                    <span>{{destino.nombre}}</span>
                    </div>
                    <div class="card-desc">
                    <h4 style="text-align: center;">{{destino.nombre}}</h4>
                    <p> El mundo es tan grande que a la hora de viajar necesitamos inspiración para decidirnos por un destino u otro. Hoy en día podemos alcanzar prácticamente cualquier rincón del planeta; miramos mapas, leemos libros de viajes, 
                        vemos películas e imágenes compartidas en redes sociales por otros viajeros, consultamos aplicaciones viajeras en nuestros móviles… ¡Es tan difícil escoger entre todas las opciones que tenemos a nuestro alcance!</p>
                    <a	href="#"	class="btn-card">Leer Mas</a>			
</div>
</div>
    