<div class="container content">
  <app-navbar></app-navbar>
  <h6 style="text-align: center;">
    Login de usuarios !!!
  </h6>
  <app-login></app-login>
  <div class="page-header">
    <div class="navLinks">
  <a [routerLink]="['/home']"><span class="oi oi-clipboard"></span> Lista de Viajes Deseados </a>
  <a [routerLink]="['/reservas']"><span class="oi oi-action-undo"></span> Reservas </a>
  <a [routerLink]="['/vuelos']"><span class="oi oi-dial"></span> Vuelos (se requiere de inicio de sesion) </a>
</div>
  </div>
    <router-outlet></router-outlet>
</div>


<hr class="mb-5">

<p style="text-align: center;">{{ time | async}}</p>

<app-footer></app-footer>