<h6>España:</h6>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="./images/Madrid.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Barcelona </h5>
      <p class="card-text">Barcelona es una ciudad española, capital de la comunidad autónoma de Cataluña, de la comarca del Barcelonés y de la provincia homónima.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://drive.google.com/file/d/1gyWl9K73ScknBRmKzlA9oiyFt1kF0jPR/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Madrid </h5>
      <p class="card-text"> Madrid alberga las sedes del Gobierno de España y sus Ministerios, de las Cortes Generales (Congreso y Senado), del Tribunal Supremo y del Tribunal Constitucional, así como la residencia oficial de los reyes de España y del presidente del Gobierno.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Valencia </h5>
      <p class="card-text">Es un municipio​ y una ciudad de España, capital de la provincia homónima y de la Comunidad Valenciana. Es la tercera ciudad y área metropolitana más poblada de España. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<h6>Argentina:</h6>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="./images/Madrid.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cordoba </h5>
      <p class="card-text">Barcelona es una ciudad española, capital de la comunidad autónoma de Cataluña, de la comarca del Barcelonés y de la provincia homónima.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://drive.google.com/file/d/1gyWl9K73ScknBRmKzlA9oiyFt1kF0jPR/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buenos Aires </h5>
      <p class="card-text"> Madrid alberga las sedes del Gobierno de España y sus Ministerios, de las Cortes Generales (Congreso y Senado), del Tribunal Supremo y del Tribunal Constitucional, así como la residencia oficial de los reyes de España y del presidente del Gobierno.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rosario </h5>
      <p class="card-text">Es un municipio​ y una ciudad de España, capital de la provincia homónima y de la Comunidad Valenciana. Es la tercera ciudad y área metropolitana más poblada de España. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<h6>Uruguay :</h6>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="./images/Madrid.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cordoba </h5>
      <p class="card-text">Barcelona es una ciudad española, capital de la comunidad autónoma de Cataluña, de la comarca del Barcelonés y de la provincia homónima.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://drive.google.com/file/d/1gyWl9K73ScknBRmKzlA9oiyFt1kF0jPR/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buenos Aires </h5>
      <p class="card-text"> Madrid alberga las sedes del Gobierno de España y sus Ministerios, de las Cortes Generales (Congreso y Senado), del Tribunal Supremo y del Tribunal Constitucional, así como la residencia oficial de los reyes de España y del presidente del Gobierno.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rosario </h5>
      <p class="card-text">Es un municipio​ y una ciudad de España, capital de la provincia homónima y de la Comunidad Valenciana. Es la tercera ciudad y área metropolitana más poblada de España. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<h6>Colombia :</h6>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="./images/Madrid.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cordoba </h5>
      <p class="card-text">Barcelona es una ciudad española, capital de la comunidad autónoma de Cataluña, de la comarca del Barcelonés y de la provincia homónima.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://drive.google.com/file/d/1gyWl9K73ScknBRmKzlA9oiyFt1kF0jPR/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buenos Aires </h5>
      <p class="card-text"> Madrid alberga las sedes del Gobierno de España y sus Ministerios, de las Cortes Generales (Congreso y Senado), del Tribunal Supremo y del Tribunal Constitucional, así como la residencia oficial de los reyes de España y del presidente del Gobierno.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rosario </h5>
      <p class="card-text">Es un municipio​ y una ciudad de España, capital de la provincia homónima y de la Comunidad Valenciana. Es la tercera ciudad y área metropolitana más poblada de España. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<h6>Venezuela :</h6>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="./images/Madrid.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cordoba </h5>
      <p class="card-text">Barcelona es una ciudad española, capital de la comunidad autónoma de Cataluña, de la comarca del Barcelonés y de la provincia homónima.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://drive.google.com/file/d/1gyWl9K73ScknBRmKzlA9oiyFt1kF0jPR/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buenos Aires </h5>
      <p class="card-text"> Madrid alberga las sedes del Gobierno de España y sus Ministerios, de las Cortes Generales (Congreso y Senado), del Tribunal Supremo y del Tribunal Constitucional, así como la residencia oficial de los reyes de España y del presidente del Gobierno.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rosario </h5>
      <p class="card-text">Es un municipio​ y una ciudad de España, capital de la provincia homónima y de la Comunidad Valenciana. Es la tercera ciudad y área metropolitana más poblada de España. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<h6>Brasil :</h6>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="./images/Madrid.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cordoba </h5>
      <p class="card-text">Barcelona es una ciudad española, capital de la comunidad autónoma de Cataluña, de la comarca del Barcelonés y de la provincia homónima.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://drive.google.com/file/d/1gyWl9K73ScknBRmKzlA9oiyFt1kF0jPR/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buenos Aires </h5>
      <p class="card-text"> Madrid alberga las sedes del Gobierno de España y sus Ministerios, de las Cortes Generales (Congreso y Senado), del Tribunal Supremo y del Tribunal Constitucional, así como la residencia oficial de los reyes de España y del presidente del Gobierno.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rosario </h5>
      <p class="card-text">Es un municipio​ y una ciudad de España, capital de la provincia homónima y de la Comunidad Valenciana. Es la tercera ciudad y área metropolitana más poblada de España. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

